In [1]:
from datetime import datetime, date, time, timedelta, timezone
import locale

locale.setlocale(locale.LC_ALL, 'en_in')

'en_in'

In [2]:
arbitrary_number = 1000

print(f'Number      : {arbitrary_number:32}.')
print(f'Binary      : {arbitrary_number:32b}.')
print(f'Octal       : {arbitrary_number:32o}.')
print(f'Hexadecimal : {arbitrary_number:32x}.')

arbitrary_number = 1348293000
print(f'Number      : {arbitrary_number:,.2f}.')
print(f'Number      : {arbitrary_number:_.2f}.')

Number      :                             1000.
Binary      :                       1111101000.
Octal       :                             1750.
Hexadecimal :                              3e8.
Number      : 1,348,293,000.00.
Number      : 1_348_293_000.00.

In [3]:
arbitrary_number = 10002384923

print(f'Number      : {arbitrary_number:32}.')
print(f'Number      : {arbitrary_number:>32}.')
print(f'Number      : {arbitrary_number:<32}.')
print(f'Number      : {arbitrary_number:^32}.')
print()
arbitrary_number = 44_000_000_000
print(f'Number      : {arbitrary_number:032X}.')
print(f'Number      :${arbitrary_number:>-32n}.')
print(f'Number      :${arbitrary_number:+32n}.')
print()
arbitrary_number = -44_000000_000
print(f'Number      : {arbitrary_number:-32n}.')
print(f'Number      : {arbitrary_number:+32n}.')

Number      :                      10002384923.
Number      :                      10002384923.
Number      : 10002384923                     .
Number      :           10002384923           .

Number      : 00000000000000000000000A3E9AB800.
Number      :$                 44,00,00,00,000.
Number      :$                +44,00,00,00,000.

Number      :                 -44,00,00,00,000.
Number      :                 -44,00,00,00,000.

In [4]:
arbitrary_number = 20937.6503483

print(f'Number      : {arbitrary_number:>.2f}.')
print(f'Number      : {arbitrary_number:_^20.2f}.')
print(f'Number      : {arbitrary_number:7.2}.')
print(f'Number      : {arbitrary_number:20}.')

Number      : 20937.65.
Number      : ______20937.65______.
Number      : 2.1e+04.
Number      :        20937.6503483.

In [5]:
arbitrary_number = 29872.35269503
print(f'Number      : {arbitrary_number:.2g}.')
print(f'Number      : {arbitrary_number:.5g}.')
print(f'Number      : {arbitrary_number:.8g}.')
print()

arbitrary_number = 72.35269503
print(f'Number      : {arbitrary_number:,.2g}.')
print(f'Number      : {arbitrary_number:_.2g}.')
arbitrary_number = 478589.35269503
print(f'Number      : {arbitrary_number:,.6g}.')
print(f'Number      : {arbitrary_number:_.7g}.')
arbitrary_number = 4589382472.35269503
print(f'Number      : {arbitrary_number:,.13g}.')
print(f'Number      : {arbitrary_number:_.13g}.')

Number      : 3e+04.
Number      : 29872.
Number      : 29872.353.

Number      : 72.
Number      : 72.
Number      : 478,589.
Number      : 478_589.4.
Number      : 4,589,382,472.353.
Number      : 4_589_382_472.353.

In [6]:
arbitrary_number = 0.35269503

print(f'Number      : {arbitrary_number:%}.')
print(f'Number      : {arbitrary_number:.2%}.')

Number      : 35.269503%.
Number      : 35.27%.

In [7]:
india_timezone = timezone(timedelta(hours=5, minutes=30), name='Asia/Calcutta')
australia = timezone(timedelta(hours=1, minutes=0), name='Australia')
dt = datetime.now(tz=india_timezone)
print(dt.isoformat())
print(f'{dt:%Y-%m-%dT%H:%M:%S.%f%z}')
print(f'{dt:%Y-%m-%d}')
print(f'{dt:%H:%M:%S}')
print(f'{dt:%F}')
print(f'{dt:%D}')
print(f'{dt:%j}')
print(f'{dt:%B}')
print(f'{dt:%A}')

2023-06-11T13:40:18.425884+05:30
2023-06-11T13:40:18.425884+0530
2023-06-11
13:40:18
2023-06-11
06/11/23
162
June
Sunday

In [8]:
import pendulum
from pendulum import tz

india = pendulum.datetime(2023, 3, 12, 16, 59, 59, 999000, tz='Asia/Calcutta')
seattle = pendulum.datetime(2023, 3, 12, 16, 59, 59, 999000, tz='America/Los_Angeles')

print(india)
print()
print(seattle)
print(seattle + pendulum.duration(milliseconds=1))
print()

# seattle = pendulum.datetime(2012, 9, 1, 1, 55, 0, 999000, tz="America/Toronto")
td: pendulum.Duration = seattle - india

print(td.as_timedelta())

# print(seattle)
# for i in range(60):
#     seattle = seattle + pendulum.duration(seconds=20)
#     print(seattle)

2023-03-12T16:59:59.999000+05:30

2023-03-12T16:59:59.999000-07:00
2023-03-12T17:00:00-07:00

12:30:00